.h4 {
    font-size: 14px;
}

a {
    color: #337ab7;
    text-shadow: none;
}

.btn-disabled {
    opacity: .75;
    cursor: default !important;
    pointer-events: none;
}

ul {
    list-style-type: none;
}
.w-5{
    width: 5%;
}
.text-title-field {
    display: block;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 5px;
}
.gallery-images-wrapper {
    border: 1px dashed #ccc;
    padding: 10px;
    position: relative;
}
.text-pre{
    white-space: pre;
}
.main-sidebar {
    position: fixed !important;
    height: calc(100% - (3.5rem + 1px)) !important;
    overflow-x: none;
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0
}

.content-wrapper .breadcrumb {
    background: transparent;
    margin-bottom: 0 !important;
}

.max-width-1036 {
    max-width: 1036px;
    margin: 0 auto
}

.form-inline .inline_block {
    display: inline-block
}

.modal-open .select2-container--open {
    z-index: 10090
}

.table-header-color th {
    background-color: #36c6d3 !important;
    color: #fff !important
}

.table-wrapper .table-datatable {
    background: #fff;
    border: 1px solid #e7ecf1 !important;
    margin: 0 15px 15px;
    position: relative;
    text-transform: capitalize;
}
.button-loading {
    border: 1px solid #c4cdd5;
    cursor: default;
    text-shadow: none;
    color: transparent !important;
    position: relative;
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}
.button-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    -webkit-animation: button-loading-spinner 0.7s linear infinite;
    animation: button-loading-spinner 1s linear infinite;
    border-color: #fff;
    border-bottom-color: transparent;
}
.button-loading:hover, .button-loading:focus, .button-loading:active {
    color: transparent;
}
@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
.required:after {
    content: " *";
    color: red;
}

.content-page {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    padding: 10px;
}


.is-invalid .select2-selection,
.needs-validation ~ span > .select2-dropdown {
    border-color: #dc3545 !important;

}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}

.preview-image-wrapper {
    background: #fafbfc;
    border: 1px solid rgba(195, 207, 216, .3);
    display: inline-block;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.preview-image-wrapper img {
    height: 150px;
    max-width: 100%;
    object-fit: contain;
}

.btn_remove_image {
    background: #ddd;
    border-radius: 50% !important;
    color: #000;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 30px;
}

.btn_remove_image i {
    margin-top: 5px;
}

.widget {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.modal-header-media {

    position: relative;
}

.modal-header-media h5 {
    color: white;
    margin-left: 2%;
}

.modal-header-media button {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-30%);
}

.breadcrumb > li:first-child:before {
    color: #333;
    content: "\f015";
    display: inline-block;
    font: normal normal normal 14px/1 Font Awesome\ 5 Free;
    font-weight: 900;
    padding-right: 4px;
}

.content-page {
    margin-bottom: 15px;
}

.main-sidebar .sidebar {
    padding: 0;
}

.main-sidebar .sidebar .nav-link {
    border-bottom: 1px solid #484848;
    color: #d9d9d9;
}

.nav-treeview > .nav-item > .nav-link {
    border-bottom: 0;
}

.nav-treeview > .nav-item:last-child > .nav-link {
    border-bottom: 1px solid #484848;
}

.plus, .minus {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 16px 16px !important;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.plus {
    background-image: url(https://img.icons8.com/color/48/000000/plus.png);
}

.minus {
    background-image: url(https://img.icons8.com/color/48/000000/minus.png);
}

.sl-wrapper {
    margin-top: 8px;
}
.sl-nav {
    display: inline;
}
.sl-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
}
.sl-nav li {
    cursor: pointer;
    padding-bottom: 10px;
}
.sl-nav li ul {
    display: none;
}
.sl-nav li:hover ul {
    position: absolute;
    top: 29px;
    right: -15px;
    display: block;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
}
.sl-nav li:hover .triangle:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom: 0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
}
.sl-nav li ul li span {
    padding-left: 5px;
}
.sl-nav li ul li span:hover, .sl-nav li ul li span.active {
    color: #146c78;
}
.sl-flag {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    width: 15px;
    height: 15px;
    background: #aaa;
    border-radius: 50%;
    position: relative;
    top: 2px;
    overflow: hidden;
}
.flag-de{
    background-size: cover;
    background-position: center center;
    background-image: url("../images/ja.png")
}
.flag-usa {
    background-size: cover;
    background-position: center center;
    background-image: url("../images/en.png")
}

ul.inner_ul li:before {
    content: "├";
    font-size: 18px;
    margin-left: -11px;
    margin-top: -5px;
    vertical-align: middle;
    float: left;
    width: 8px;
    color: #41424e;
}

ul.inner_ul li:last-child:before {
    content: "└";
}

.custom-switch {
    padding-left: 10px;
}

.permission {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 16px 16px !important;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/****************Calendar***********************/

.b-calendar {
    display: flex;
    align-items: center;

}

.b-calendar__information {
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 1.2rem 0 0 1.2rem;
    height: 100%;
}

.b-calendar__information .today {
    flex-direction: column;
    padding-top: 3em;
}

.b-calendar__information .today .weekDay {
    font-size: 1.2em;
    font-weight: 100;
    padding-bottom: 0.5em;
}

.b-calendar__information .today .day {
    font-size: 5.5em;
    font-weight: 600;
    line-height: 1;
}

.b-calendar__information .today .month {
    font-size: 2em;
    font-weight: 200;
    line-height: 1;
}

.b-calendar__header {
    margin-bottom: 2rem;
}

.b-calendar__header .month {
    font-size: 1.25em;
    font-weight: 200;
    text-transform: capitalize;
}

.b-calendar__header .year {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1rem;
}

.b-calendar__header .arrow {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

.b-calendar__header .arrow:hover {
    cursor: pointer;
}

.b-calendar__header .arrow-left i {
    transform: translateX(-10%);
}

.b-calendar__header .arrow-right i {
    transform: translateX(10%);
}

.b-calendar__weekdays {
    display: flex;
    margin-bottom: 1.25rem;
}

.b-calendar__weekdays .weekday {
    width: calc(100% / 7);
    padding: 0.25rem 0.5rem;
}

.b-calendar__dates {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.b-calendar__dates:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 1px;
    width: 100%;
    z-index: 1;
}

.b-calendar__dates .date {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 200;
    min-height: 3.5rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    width: calc(100% / 7);
}

.b-calendar__dates .date.blank {
    background-color: rgba(0, 0, 0, 0.02);
    color: rgba(0, 0, 0, 0.2);
}

.b-calendar__dates .date.no-border-right {
    border-right: none;
}

.b-calendar__dates .date.today {
    background-color: #34ce57;
    color: #fff;
}

.b-calendar__dates .date .weekday {
    display: none;
}

.b-calendar__dates .date .additional {
    font-size: 0.75em;
    position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
}

.b-calendar__dates .date .additional .year {
    padding-right: 0.25rem;
    font-size: 0.75em;
}

.b-footer {
    padding: 15px 0;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.switch {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.current {
    text-transform: uppercase;
    height: 42px;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    text-align: center;
    line-height: 42px;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease-out;
    border-radius: 3px;
    padding: 0 0.2em 0 0.7em;
}
.current span {
    display: inline-block;
    line-height: 1;
    padding: 0.7em 0.2em 0 0;
}
.current .arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.current:hover {
    background-color: rgba(0, 0, 0, .1);
}
.options {
    position: absolute;
    right: 0;
    top: 0.6em;
    z-index: 0;
    opacity: 0;
    transition: all 0.36s ease-out;
    display: none;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.switch.show-options .options {
    display: block;
    z-index: 5;
}
.switch.anim-options .options {
    opacity: 1;
}
.switch.show-shadow .options {
    box-shadow: 0 2px 12px -4px rgba(0, 0, 0, .4);
}
.options-list {
    color: #313436;
    margin: 0;
    padding: 0.4rem 0.8em;
    position: relative;
    z-index: 5;
}
.options-list li {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0.75em;
    border-bottom: 1px solid #e1e4e6;
    transform: translateX(10px);
    transition: all 0.24s ease-out;
    transition-delay: 0.1s;
    opacity: 0;
    font-size: 1rem;
    line-height: 1.3;
    white-space: nowrap;
}
.options-list li:last-child {
    border-bottom: none;
}
.options-list li:nth-child(1) {
    transition-delay: 0.1s;
}
.options-list li:nth-child(2) {
    transition-delay: 0.15s;
}
.options-list li:nth-child(3) {
    transition-delay: 0.2s;
}
.options-list li:nth-child(4) {
    transition-delay: 0.25s;
}
.options-list li:nth-child(5) {
    transition-delay: 0.3s;
}
.options-list li.selected {
    color: #3498db;
}
.switch.anim-options .options-list li {
    transform: translateX(0);
    opacity: 1;
}
#trans-circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -80px;
    right: -80px;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 1;
    transition: all 0.4s ease-out;
    transform: scale(0.5);
    overflow: hidden;
}
#trans-circle svg {
    max-width: 100%;
    max-height: 100%;
}
.switch.anim-options #trans-circle {
    transform: scale(9);
}
.avatar {
    background: #2d2d2d;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    height: 3.7rem;
    letter-spacing: 0.1rem;
    line-height: 3.7rem;
    text-align: center;
    width: 3.7rem;
}
.qr-image svg{
    width: 100%;
    padding-bottom: 5px;
}
.btn.qr-download {
    display: none;
    width: 50%;
    margin: auto;

}
.qr-image:hover + .qr-download, .qr-download:hover {
    display: block;
    text-align: center;
}
@media (max-width: 768px) {
    .b-calendar__information {
        min-height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    .b-calendar__information .today {
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    .b-calendar__weekdays {
        display: none;
    }

    .b-calendar__dates .date {
        width: 100%;
        text-align: left !important;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
    }

    .b-calendar__dates .date.blank {
        display: none;
    }

    .b-calendar__dates .date .weekday {
        display: block;
        margin-left: 0.25rem;
    }
}

