a {
    color: #337ab7;
    text-shadow: none;
}
a, li a.nav-link {
    text-decoration: none;
}
body.login {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden
}

body.login .faded-bg {
    background: rgba(50, 50, 50, .5);
    background: linear-gradient(180deg, rgba(21, 21, 28, 0) 0, rgba(21, 21, 28, .1) 40%, rgba(21, 21, 28, .3) 55%, rgba(21, 21, 28, .61) 75%, #15151c);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

body.login .logo-title-container {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%
}

body.login .logo {
    height: auto;
    margin: 30px auto 15px;
    max-height: 80px;
    padding-top: 25px
}

body.login .copy {
    padding: 30px 30px 12px;
    width: auto
}

body.login .copy h1 {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    margin: 20px 0 0 14px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    vertical-align: middle;
    z-index: 9999
}

body.login .copy p {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    left: 15px;
    margin-top: 0;
    max-width: 650px;
    opacity: .9;
    position: relative;
    top: -8px;
    z-index: 99
}

body.login .login-sidebar {
    background: #fff;
    border-radius: 0;
    border-top: 5px solid #02192d;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    position: relative;
    z-index: 2
}

body.login .login-container {
    margin-top: -150px;
    padding: 30px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10
}

body.login .login-container p {
    border-radius: 2px;
    color: #757c85;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 3px;
    padding-left: 2px;
    text-align: left;
    text-transform: uppercase;
    width: auto
}

body.login .login-container form {
    padding-top: 15px
}

body.login .login-container form p {
    font-weight: 400;
    text-transform: none
}

body.login .login-button {
    background: #02192d;
    border: 0;
    border-radius: 2px;
    color: #eee !important;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: 400;
    opacity: .8;
    outline: 0 !important;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: width .3s ease;
    width: auto
}

body.login .login-button:hover {
    color: #fff;
    opacity: 1
}
body.login .login-container form p {
    font-weight: 400;
    text-transform: none;
}
body.login .form-group {
    background-color: #fff;
    border: 2px solid rgba(28, 43, 54, .07);
    border-radius: 3px;
    font-weight: 400;
    padding: 7px 12px 4px;
    position: relative;
    transition: border .3s ease-in
}

body.login .form-group.has-error {
    border-color: #ed6b75;
    margin-bottom: 30px
}

body.login .form-group.has-error .help-block {
    color: #ed6b75;
    position: absolute;
    top: 45px;
    left: -2px;
    font-size: 13px;
}
body.login .form-group .text-danger {
    position: absolute;

    font-size: 13px;
    top: 50px;
    color: #ed6b75 !important;
}
body.login .form-group.focused {
    border-color: #02192d
}

body.login .form-group label {
    color: #58666e;
    display: block;
    font-size: 10px;
    font-weight: 500;
    margin: 0 0 3px;
    opacity: 1;
    transition: opacity .2s ease
}

body.login .form-group .form-control {
    -webkit-appearance: none;
    background: #fff;
    background: 0 0;
    border: none;
    box-shadow: none;
    color: #1c2b36;
    font-weight: 400;
    height: 25px;
    line-height: normal;
    margin-top: -4px;
    min-height: 25px;
    outline: 0;
    padding: 0;
    transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
    vertical-align: middle
}

body.login .form-group .form-control:focus {
    box-shadow: none;
    outline: 0 !important
}

body.login .form-group .form-control::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300
}

body.login .form-group .form-control::-moz-placeholder {
    color: #ccc;
    font-weight: 300
}

body.login .form-group .form-control:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300
}

body.login .form-group .form-control:-moz-placeholder {
    color: #ccc;
    font-weight: 300
}

body.login .form-group .form-control:focus::-webkit-input-placeholder {
    color: #8c9ba6
}

body.login .form-group .form-control:focus::-moz-placeholder {
    color: #8c9ba6
}

body.login .form-group .form-control:focus:-ms-input-placeholder {
    color: #8c9ba6
}

body.login .form-group .form-control:focus:-moz-placeholder {
    color: #8c9ba6
}
