<template>
    <header class="rv-media-header">
        <div class="rv-media-top-header">
            <div class="rv-media-actions">
                <label for="media_aside_collapse" class="btn btn-danger collapse-sidebar">
                    <i class="fa fa-bars"></i>
                </label>
                <button  class="btn btn-success js-dropzone-upload dz-clickable "
                         :class="mediaLoad ==='trash'? 'disabled':''" @click="openUploadFile" >
                    <i class="fas fa-cloud-upload-alt"></i> {{ $t('media.upload') }}
                </button>

                <button type="button" class="btn btn-success" :class="mediaLoad ==='trash'? 'disabled':''"
                        data-bs-toggle="modal" data-bs-target="#modal_add_folder">

                    <i class="fa fa-folder"></i> {{ $t('media.create_folder') }}
                </button>
                <button class="btn btn-success js-change-action" data-type="refresh" >
                    <i class="fas fa-sync"></i> {{ $t('media.refresh') }}
                </button>



                <div class="btn-group" role="group">
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle js-rv-media-change-filter-group" type="button"
                                data-toggle="dropdown">
                            <i class="fa fa-eye"></i> {{ $t('media.view_in') }} <span class="js-rv-media-filter-current">(
                                <i class="fa fa-globe"></i> {{ $t('media.all_media') }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li :class="mediaLoad ==='all'? 'active':''">
                                <a href="#" class="js-rv-media-change-filter" @click="loadDataMedia('all')">
                                    <i class="fa fa-globe"></i> {{ $t('media.all_media') }}
                                </a>
                            </li>
                            <li :class="mediaLoad ==='trash'? 'active':''">
                                <a href="#" class="js-rv-media-change-filter"  @click="loadDataMedia('trash')">
                                    <i class="fa fa-trash"></i> {{ $t('media.trash') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-danger js-files-action hidden" data-action="empty_trash">
                    <i class="fa fa-trash"></i> {{ $t('media.empty_trash') }}
                </button>
            </div>
            <div class="rv-media-search">
                <div class="input-search-wrapper">
                    <input type="text" class="form-control" :placeholder="$t('media.search_file_and_folder')" id="search-medias">
                    <button class="btn btn-link" type="submit" @click="searchMedia()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="rv-media-bottom-header">
            <div class="rv-media-breadcrumb">
                <ul class="breadcrumb">
                    <li v-if="mediaLoad==='trash'">
                        <a href="#" data-folder="0" class="js-change-folder"><i class="fa fa-trash"></i> {{ $t('media.trash') }}</a>
                    </li>
                    <li v-if="mediaLoad==='all'">
                        <a href="#" class="js-change-folder" @click="detailMedia(0 )"><i class="fa fa-user-secret"></i>
                            {{ $t('media.all_media') }}</a>
                    </li >
                    <li v-for="(mediaTitle, key) in mediaTitles" :key="key" v-if="mediaLoad==='all'">
                        <a href="#" class="js-change-folder"
                           @click="detailMedia(mediaTitle.id )">
                            {{ mediaTitle.name }}</a>
                    </li>

                </ul>
            </div>
            <div class="rv-media-tools">
                <div>
                    <b-dropdown id="dropdown-1" :text="$t('media.sort')" class="m-md-2">
                        <b-dropdown-item :class="this.sort==='name_asc'?'active':''" @click="sortMedia('name_asc')">
                            <i class="fas fa-sort-alpha-up"></i>  {{ $t('media.file_name_asc') }}
                        </b-dropdown-item>
                        <b-dropdown-item :class="this.sort==='name_desc'?'active':''" @click="sortMedia('name_desc')">
                            <i class="fas fa-sort-alpha-down"></i>{{ $t('media.file_name_desc') }}
                        </b-dropdown-item>
                        <b-dropdown-item :class="this.sort==='date_asc'?'active':''" @click="sortMedia('date_asc')">
                            <i class="fas fa-sort-numeric-up"></i> {{ $t('media.uploaded_date_asc') }}
                        </b-dropdown-item>
                        <b-dropdown-item :class="this.sort==='date_desc'?'active':''" @click="sortMedia('date_desc')">
                            <i class="fas fa-sort-numeric-down"></i>{{ $t('media.uploaded_date_desc') }}
                        </b-dropdown-item>
                        <b-dropdown-item :class="this.sort==='size_asc'?'active':''" @click="sortMedia('size_asc')">
                            <i class="fas fa-sort-numeric-up"></i> {{ $t('media.size_asc') }}
                        </b-dropdown-item>
                        <b-dropdown-item :class="this.sort==='size_desc'?'active':''" @click="sortMedia('size_desc')">
                            <i class="fas fa-sort-numeric-down"></i> {{ $t('media.size_desc') }}
                        </b-dropdown-item>
                    </b-dropdown>
                </div>
                <div class="btn-group js-rv-media-change-view-type" role="group">
                    <button class="btn btn-secondary active" type="button" data-type="tiles">
                        <i class="fa fa-th-large"></i>
                    </button>
                </div>

            </div>
        </div>
    </header>
</template>

<script>
import {requests} from "../mixins/requests";

export default {
    mixins: [requests],
    props: ['mediaLoad','mediaFolders','mediaFiles','mediaFolderId','mediaTitles'],
    data() {
        return {
            folder_id: 0,
            sort: ""
        }
    },
    computed: {


    },
    methods: {
        detailMedia(id) {
            const isLargeNumber = (element) => element.id === id
            let titles = this.mediaTitles
            let news = titles.findIndex(isLargeNumber) + 1;
            this.getMediaContent(id);

            return titles.splice(news).length - 1;

        },
        sortMedia(sort) {
            this.sort = sort
            switch (sort) {
                case 'name_asc':
                    this.$store.commit("setMediaFolders", _.orderBy(this.mediaFolders, 'name', 'asc'));
                    this.$store.commit("setMediaFiles", _.orderBy(this.mediaFiles, 'name', 'asc'));
                    break;
                case 'name_desc':
                    this.$store.commit("setMediaFolders", _.orderBy(this.mediaFolders, 'name', 'desc'));
                    this.$store.commit("setMediaFiles", _.orderBy(this.mediaFiles, 'name', 'desc'));
                    break;
                case 'date_asc':
                    this.$store.commit("setMediaFolders", _.orderBy(this.mediaFolders, 'updated_at', 'asc'));
                    this.$store.commit("setMediaFiles", _.orderBy(this.mediaFiles, 'updated_at', 'asc'));
                    break;
                case 'date_desc':
                    this.$store.commit("setMediaFolders", _.orderBy(this.mediaFolders, 'updated_at', 'desc'));
                    this.$store.commit("setMediaFiles", _.orderBy(this.mediaFiles, 'updated_at', 'desc'));
                    break;
                case 'size_asc':
                    this.$store.commit("setMediaFiles", _.orderBy(this.mediaFiles, 'size', 'asc'));
                    break;
                case 'size_desc':
                    this.$store.commit("setMediaFiles", _.orderBy(this.mediaFiles, 'size', 'desc'));
                    break;
                default:
            }
        },
        searchMedia() {
            const valueSearch = document.getElementById('search-medias').value
            this.getMediaContent(this.mediaFolderId,valueSearch);
        },
        openUploadFile () {
            this.$emit('openUploadFile');
        },
        loadDataMedia(media_type){
            this.$store.commit("mediaLoad",media_type);
             this.getMediaContent(this.folder_id)
        }
    }
}
</script>
