<template>
    <div class="rv-media-container" data-breadcrumb-count="1" data-allow-upload="true" data-view-in="all_media">
        <div class="rv-media-wrapper">
            <aside class="rv-media-aside  rv-media-aside-hide-desktop ">
                <label class="collapse-sidebar">
                    <i class="fa fa-sign-out"></i>
                </label>
                <div class="rv-media-block rv-media-filters">
                    <div class="rv-media-block-title">
                        Filter
                    </div>
                    <div class="rv-media-block-content">
                        <ul class="rv-media-aside-list">
                            <li class="active">
                                <a href="#" class="js-rv-media-change-filter" data-type="filter"
                                   data-value="everything">
                                    <i class="fa fa-recycle"></i> Everything
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-rv-media-change-filter" data-type="filter" data-value="image">
                                    <i class="fa fa-file-image"></i> Image
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-rv-media-change-filter" data-type="filter" data-value="video">
                                    <i class="fa fa-file-video"></i> Video
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-rv-media-change-filter" data-type="filter" data-value="document">
                                    <i class="fa fa-file"></i> Document
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rv-media-block rv-media-view-in">
                    <div class="rv-media-block-title">
                        View in
                    </div>
                    <div class="rv-media-block-content">
                        <ul class="rv-media-aside-list">
                            <li class="active">
                                <a href="#" class="js-rv-media-change-filter" data-type="view_in"
                                   data-value="all_media">
                                    <i class="fa fa-globe"></i> All media
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-rv-media-change-filter" data-type="view_in" data-value="trash">
                                    <i class="fa fa-trash"></i> Trash
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-rv-media-change-filter" data-type="view_in" data-value="recent">
                                    <i class="fa fa-clock"></i> Recent
                                </a>
                            </li>
                            <li>
                                <a href="#" class="js-rv-media-change-filter" data-type="view_in"
                                   data-value="favorites">
                                    <i class="fa fa-star"></i> Favorites
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="rv-media-main-wrapper">
                <HeaderMain @openUploadFile="openUploadFile" :mediaFiles="mediaFiles" :mediaFolders="mediaFolders"
                           :mediaFolderId="mediaFolderId" :mediaLoad="mediaLoad" :mediaTitles="mediaTitles"></HeaderMain>
                <MainContent :mediaFiles="mediaFiles" :mediaFolders="mediaFolders"
                             :mediaLoad="mediaLoad" :mediaTitles="mediaTitles"></MainContent>
                <footer class="rv-media-footer" v-if="insert">
                    <button type="button" class="btn btn-danger btn-lg js-insert-to-editor">Insert</button>
                </footer>
            </div>
            <input type="file" id="file-input" ref="fileInput" hidden multiple @change.prevent="listUploads"
                   accept="image/jpeg"/>

        </div>
    </div>
</template>

<script>
import HeaderMain from "./HeaderComponent";
import MainContent from "./MainComponent";

import {requests} from "../mixins/requests";

export default {
    props: ['insert'],
    components: {
        HeaderMain,
        MainContent,
    },
    mixins: [requests],
    data() {
        return {}
    },
    async beforeMount() {
        await this.getMedia();
    },
    computed: {
        mediaFolderId() {
            return this.$store.state.folderId;
        },
        mediaFolders() {
            return this.$store.state.mediaFolders;
        },
        mediaFiles() {
            return this.$store.state.mediaFiles;
        },
        mediaLoad() {
            return this.$store.state.mediaLoad;
        },
        mediaTitles() {
            return this.$store.state.mediaTitles;
        },

    },

    mounted() {

    },
    methods: {
        //Get calendar of user auth
        async getMedia() {
            await this.getMediaContent();
        },
        openUploadFile() {
            this.$refs.fileInput.click()
        },
        listUploads(e) {
            let files = e.srcElement.files;
            for (let index = 0; index < files.length; index++) {
                this.mediaUploadFile(this.mediaFolderId, files[index]);
            }
        },
    }
}
</script>
