<template>
    <main class="rv-media-main">
        <div class="rv-media-items has-items">
            <div class="rv-media-grid">
                <ul tabindex="-1" @focusout="closeMenu">
                    <li class="rv-media-list-title up-one-level js-up-one-level" v-if=" this.folder_parent.length >0">
                        <div class="rv-media-item" data-context="__type__" title="Up one level"  v-if="mediaLoad==='all'"
                             @dblclick="detailMediaParent()">
                            <div class="rv-media-thumbnail">
                                <i class="fas fa-level-up-alt"></i>
                            </div>
                            <div class="rv-media-description">
                                <div class="title">...</div>
                            </div>
                        </div>
                    </li>
                    <li class="rv-media-list-title js-media-list-title js-context-menu"
                        data-context="folder" v-for="(mediaFolder, key) in mediaFolders" :key="'folder'+key"
                        @contextmenu="folderEvents('folder'+key,mediaFolder,$event)">
                        <input type="checkbox" class="hidden" checked v-if="item_choose_multi.includes('folder'+key )" >
                        <div class="rv-media-item" :title="mediaFolder.name"
                             @click="activeMedia('folder'+key,mediaFolder,$event)" @dblclick="detailMedia(mediaFolder)">
                             <span class="media-item-selected" v-if="item_choose_multi.includes('folder'+key )">
                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                       <path d="M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z"></path>
                                 </svg>
                             </span>
                            <div class="rv-media-thumbnail">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="rv-media-description">
                                <div class="title title">{{ mediaFolder.name }}</div>
                            </div>
                        </div>
                    </li>
                    <li class="rv-media-list-title js-media-list-title js-context-menu" data-context=file
                        v-for="(mediaFile, key) in mediaFiles" :key="'file'+key" v-if="checkFileMime(mediaFile.mime_type)"
                        @contextmenu="folderEvents('file'+key,mediaFile,$event)">
                        <input type="checkbox" class="hidden" checked v-if="item_choose_multi.includes('file'+key )" :value="mediaFile.url" >
                        <div class="rv-media-item" :title="mediaFile.name" @click="activeMedia('file'+key,mediaFile,$event)"
                             @mouseover.ctrl="handleMouseEvent">
                            <span class="media-item-selected" v-if="item_choose_multi.includes('file'+key )">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z"></path>
                                </svg>
                            </span>
                            <div class="rv-media-thumbnail">
                                <img :src="mediaFile.full_url" :alt="mediaFile.name" v-if="checkFileMime(mediaFile.mime_type)">
                                <i class="far fa-file-alt" :alt="mediaFile.name" v-if="!checkFileMime(mediaFile.mime_type)"></i>
                            </div>
                            <div class="rv-media-description">
                                <div class="title title">{{ mediaFile.name }}</div>
                            </div>
                        </div>
                    </li>
                    <li class="no-items"  v-if="mediaFolders.length==0 && mediaFiles.length==0">
                        <label  v-if="mediaLoad==='all'">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <h3>{{$t('media.no_item_title')}}</h3>
                            <p>{{$t('media.no_item_message')}}</p>
                        </label>
                    </li>
                    <li class="no-items" v-if="mediaLoad==='trash'">
                        <i class="fas fa-trash-alt"></i>
                        <h3>{{$t('media.trash_title')}}</h3>
                        <p>{{$t('media.trash_message')}}</p>
                    </li>
                </ul>
            </div>
            <div class="rv-contextmenu" v-if="contextmenu" :style="{ top: top, left: left  }">
                <ul>
                    <li>
                        <a href="#" class="js-rv-media-change-filter" data-bs-toggle="modal" data-bs-target="#modal_rename_items">
                            <i class="fa fa-edit"></i> {{$t('media.rename')}}
                        </a>
                    </li>
                    <li>
                        <a :href="`/medias/download/${item_data.id}`" target="_blank"
                            v-if="type_media==='folder'" class="js-rv-media-change-filter"  >
                        <i class="fa fa-download"></i> {{$t('media.download')}}</a>
                        <a :href="`${item_download.full_url}`" target="_blank" download v-for="(item_download, key) in item_data" :key="'progress'+key"
                           v-if="type_media==='file'" class="js-rv-media-change-filter"  >
                            <i class="fa fa-download"></i> {{$t('media.download')}}</a>
                    </li>
                    <li v-if="mediaLoad==='all'">
                        <a href="#" class="js-rv-media-change-filter" data-bs-toggle="modal"
                           data-bs-target="#modal_trash_items">
                            <i class="fa fa-trash"></i> {{$t('media.move_to')}}</a>
                    </li>
                    <li v-if="mediaLoad==='trash'">
                        <a href="#" class="js-rv-media-change-filter" data-bs-toggle="modal"
                           data-bs-target="#modal_delete_items">
                            <i class="fa fa-eraser"></i> {{$t('media.delete')}}</a>
                    </li>
                    <li v-if="mediaLoad==='trash'">
                        <a href="#" class="js-rv-media-change-filter" data-bs-toggle="modal"
                           data-bs-target="#modal_restore_items">
                            <i class="fa fa-undo"></i> {{$t('media.restore')}}</a>
                    </li>
                </ul>
            </div>
            <div class="loading-icon" v-if="isLoading">
                <span style=""><i class="fa fa-spinner fa-pulse"></i></span>
            </div>
        </div>
        <MainDetail :item_choose="item_choose" :item_data="item_data"></MainDetail>
        <div class="rv-upload-progress hide-the-pane">
            <div class="panel panel-default" v-for="(file, key) in mediaUploadFileData" :key="'progress'+key">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{$t('media.upload_progress')}}</h3>
                    <a href="javascript:void(0);" class="close-pane" @click="removeFileProgress(key)">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <ul class="rv-upload-progress-table">
                        <li>
                            <div class="rv-table-col">
                                <span class="file-name">{{ file.name }}</span>
                                <div class="file-error text-danger" v-if="file.status===2"> {{ file.message }}</div>
                            </div>
                            <div class="rv-table-col">
                                <span class="file-size">{{ file.size }} KB</span>
                            </div>
                            <div class="rv-table-col">
                                <span class="label label-info" v-if="file.status===0">Uploading</span>
                                <span class="label label-success" v-if="file.status===1">Success</span>
                                <span class="label label-danger" v-if="file.status===2">Error</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ModalContent :item_data="item_data"  ></ModalContent>

    </main>
</template>

<script>
import {requests} from "../mixins/requests";
import MainDetail from "./MainDetailConponent";
import ModalContent from "./ModalComponrnt";

export default {
    mixins: [requests],
    components: {
        MainDetail,
        ModalContent
    },
    props: ['mediaFolders', 'mediaFiles','mediaLoad','mediaTitles'],
    data() {
        return {
            item_choose:"",
            item_choose_multi:[],
            item_data: [],
            folder_parent: [],
            imageUrlArray: [],
            files_detail: [],
            contextmenu: false,
            top: '0px',
            left: '0px',
            type_media: '',
        }
    },
    computed: {
        mediaFolderId() {
            return this.$store.state.folderId;
        },
        mediaUploadFileData() {
            return this.$store.state.files;
        },
        isLoading() {
            return this.$store.state.isLoading;
        },
    },

    methods: {
        activeMedia(key, data) {

            this.item_choose = key;

            this.contextmenu = false;
            if (data.mime_type){
                this.checkFileMime(data.mime_type)
            }
            if(event.ctrlKey){
                if (!this.item_choose_multi.includes(key)) {
                    this.item_choose_multi.push(key)
                    this.item_data.push(data)
                }
            }else {
                this.item_choose_multi=[];
                this.item_choose_multi.push(key)
                this.item_data=[];
                this.item_data.push(data)
            }
        },

        handleMouseEvent(){

        },
        folderEvents(key, data, event)
        {
            this.activeMedia(key, data);
            if (data.url) {
                this.type_media = 'file'
            } else {
                this.type_media = 'folder'
            }
            this.contextmenu = true
            this.$nextTick(function () {
                this.top = event.clientY - 180 + 'px';
                this.left = event.clientX - 220 + 'px';
            }.bind(this));
            event.preventDefault();
        },
        closeMenu() {
            setTimeout(() => this.contextmenu = false, 300);
            // this.item_choose = "";
            // this.item_data = [];
        },
        detailMedia(media) {
            if(this.mediaLoad==='all'){
                this.item_choose = ""
                this.item_data = [],
                this.folder_parent.push({id: media.id, parent_id: media.parent_id, name: media.name});
                this.getMediaContent(media.id);
                this.$store.commit("mediaTitles", this.folder_parent);
                this.$store.commit("mediaFolderId", media);
            }
        },
        detailMediaParent() {
            if (this.mediaTitles.length > 0) {
                this.$store.commit("mediaFolderId", this.mediaTitles[this.mediaTitles.length - 1].parent_id);
                this.getMediaContent(this.mediaTitles[this.mediaTitles.length - 1].parent_id);
                this.mediaTitles.splice(-1, 1);
            } else {
                this.$store.commit("mediaFolderId", 0);
                this.getMediaContent();
                this.folder_parent = [];
            }
        },
        removeFileProgress(index) {
            this.mediaUploadFileData.splice(index, 1)
        },
        checkFileMime( mime){
           return  mime === 'jpg' || mime === 'jpeg' || mime === 'png' || mime === 'gif' ;
        }
    }
}
</script>
