<template>
    <div class="rv-media-details">
        <div class="rv-media-thumbnail">
            <i class="far fa-image" v-if="item_choose===''"></i>
            <i class="far fa-folder" v-if="item_choose.indexOf('folder') !==-1"></i>
            <i class="far fa-file-alt" v-if="item_data.length > 0 && item_data[item_data.length - 1].full_url &&
                        !checkFileMime(item_data[item_data.length - 1].mime_type)"></i>
            <img :src="item_data[item_data.length - 1].full_url" :alt="item_data[item_data.length - 1].name"
                 v-if="item_data.length > 0 && item_data[item_data.length - 1].full_url && checkFileMime(item_data[item_data.length - 1].mime_type)">
        </div>
        <div class="rv-media-description">
            <div class="rv-media-name" v-if="!item_data[item_data.length - 1]"><p>{{ $t('media.nothing_is_selected') }}</p></div>
            <div class="rv-media-description" v-if="item_data[item_data.length - 1]">
                <div class="rv-media-name"><p>{{ $t('media.name') }}</p>
                    <span :title="item_data.name">{{ item_data[item_data.length - 1].name }}</span></div>
                <div class="rv-media-name" v-if="item_data[item_data.length - 1].full_url"><p>{{ $t('media.full_url') }}</p>
                    <div class="input-group">
                        <input id="file_details_url" type="text" :value="item_data[item_data.length - 1].full_url "
                               class="form-control">
                        <span class="input-group-prepend">
                             <button class="btn btn-default js-btn-copy-to-clipboard" type="button"
                                     data-clipboard-target="#file_details_url" title=""
                                     data-original-title="Copied">
                                 <img class="clippy" src="https://anhbinhminhvn.com/vendor/core/core/media/images/clippy.svg"
                                      @click="copyURL(item_data.full_url )" width="13" alt="Copy to clipboard">
                             </button>
                        </span>
                    </div>

                </div>

                <div class="rv-media-name"><p> {{ $t('media.uploaded_at') }}</p><span
                    title="2021-08-19 03:08:07">{{ item_data[item_data.length - 1].created_at }}</span></div>
                <div class="rv-media-name"><p> {{ $t('media.modified_at') }}</p><span
                    title="2021-08-19 03:08:07">{{ item_data[item_data.length - 1].created_at }}</span></div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: ['item_choose', 'item_data'],
    mounted() {
        console.log(this.item_data)
    },

    methods: {
        copyURL() {
            const copyText = document.getElementById('file_details_url')
            copyText.select()
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand('copy')
        },
        checkFileMime( mime){
            return  mime === 'jpg' || mime === 'jpeg' || mime === 'png' || mime === 'gif' ;
        }
    }
}
</script>
