<template>
    <div class="rv-modals">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_coming_soon">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fab fa-windows"></i> core/media::media.coming_soon
                        </h4>
                        <button type="button" class="close" data-dismiss-modal="#modal_coming_soon"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>These features are on development</p>
                        <div class="modal-notice"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal_add_folder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fab fa-windows"></i> {{$t('media.create_folder')}}
                        </h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" ref="closeModalCreatFolder">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="rv-form form-add-folder"  v-on:submit.prevent="createFolder">
                            <div class="input-group">
                                <input type="text" class="form-control" :placeholder="$t('media.folder_name')" name="name_folder">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success rv-btn-add-folder" type="submit">{{$t('media.create')}}</button>
                                </div>
                            </div>
                        </form>
                        <div class="modal-notice"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_rename_items"  ref="modal_rename_items">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="rv-form form-rename">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <i class="fab fa-windows"></i> {{$t('media.rename')}}
                            </h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form class="rv-form form-add-folder"  v-on:submit.prevent="renameItems(item_data)">
                        <div class="modal-body">
                            <div class="rename-items">
                                <div class="form-group" v-for="(item_name, key) in item_data" :key="'name'+key">
                                    <div class="input-group" >
                                        <div class="input-group-prepend" style="background: none;">
                                            <div class="input-group-text">
                                                <i class="fa fa-folder" v-if=" typeof item_name.parent_id !== 'undefined'"></i>
                                                <i class="fa fa-file-image" v-if=" typeof item_name.parent_id == 'undefined'"></i>
                                            </div>
                                        </div>
                                        <input class="form-control" name="name" :placeholder="$t('media.input_folder_name')"  v-model="item_name.name">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-notice"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" ref="closeModal"
                                    data-bs-dismiss="modal" aria-label="Close">{{$t('media.close')}}
                            </button>
                            <button type="submit" class="btn btn-primary">{{$t('media.save_changes')}}</button>
                        </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_trash_items">
            <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                    <form class="rv-form form-delete-items" v-on:submit.prevent="trashItems(item_data)">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <i class="fab fa-windows"></i> {{$t('media.move_trash')}}
                            </h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{$t('media.confirm_trash')}}</p>
                            <div class="modal-notice"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" ref="closeModalTrash"
                                    data-bs-dismiss="modal" aria-label="Close">{{$t('media.close')}}
                            </button>
                            <button type="submit" class="btn btn-danger">{{$t('media.confirm')}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_items" v-on:submit.prevent="deleteItems(item_data)">
            <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                    <form class="rv-form form-delete-items">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <i class="fab fa-windows"></i> {{$t('media.confirm_delete')}}
                            </h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{$t('media.confirm_delete_description')}}</p>
                            <div class="modal-notice"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" ref="closeModalDelete"
                                    data-bs-dismiss="modal" aria-label="Close">{{$t('media.close')}}
                            </button>
                            <button type="submit" class="btn btn-danger">{{$t('media.confirm')}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal_restore_items" v-on:submit.prevent="restoreItems(item_data)">
            <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                    <form class="rv-form form-delete-items">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <i class="fab fa-windows"></i> {{$t('media.restore_item')}}
                            </h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{$t('media.move_all')}}</p>
                            <div class="modal-notice"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" ref="closeModalRestore"
                                    data-bs-dismiss="modal" aria-label="Close">{{$t('media.close')}}
                            </button>
                            <button type="submit" class="btn btn-danger">{{$t('media.confirm')}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {requests} from "../mixins/requests";
export default {
    mixins: [requests],
    props:['item_data'],
    mounted() {

    },
    data() {
        return {

        }
    },
    methods:{
        async  createFolder(e){
            this.createMediaFolder(e.target.name_folder.value);
            if (e.target.name_folder.value)
            this.$refs.closeModalCreatFolder.click()
        },
        async renameItems(item_data){
            let check_rename=  this.renameItemsSubmit(item_data);
            if (check_rename)
            this.$refs.closeModal.click();
        },
        async trashItems(item_data){
            this.trashItemsSubmit(item_data);
            this.$refs.closeModalTrash.click();
        },
        async deleteItems(item_data){
            this.deleteItemsSubmit(item_data);
            this.$refs.closeModalDelete.click();
        },
        async restoreItems(item_data){
            this.restoreItemsSubmit(item_data);
            this.$refs.closeModalRestore.click();
        }
    }
}
</script>
